.theme-toggle-btn {
  position: absolute;
  top: -10px;
  right: 10px;
  height: 60px;
  width: 60px;
  padding: 1rem;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: var(--button-shadow);
  border: var(--button-border);
  transition: var(--transition-global);
  z-index: 999;
}

.theme-toggle-btn:hover{
    scale: var(--button-scaling);
    rotate: var(--button-rotation);
}

.theme-toggle-btn.light {
  background-color: #f3f4f6;
  color: #111827;
}

.theme-toggle-btn.dark {
  background-color: #1f2937;
  color: #f3f4f6;
}

@media screen and (max-width:500px) {
  .theme-toggle-btn{
    position: absolute;
    top: -0px;
    right: -0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
    padding: auto;
    
  }
}