
.home-container{
position: relative;
display: flex;
flex-direction: column;

justify-content: center;
align-items: center;
background-color: transparent;
width: 90%;
height: 100%;
overflow-y: auto;


}



.login-signup-container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;

}