.header{

    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
background-color: aqua;
    z-index: 999;
    

}

.header.light{
    background-color: var(--light-scheme-bg-color);
    color: var(--light-scheme-font-color);
}

.header.dark{
    background-color: var(--dark-scheme-bg-color);
    color: var(--dark-scheme-font-color);
}

.logo-container{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--button-shadow);
    border: var(--button-border);
    border-radius: 50%;
    transition: var(--transition-global);

    z-index: 9999;
}

.logo-container.light{
    background-color: var(--light-color);

}
.logo-container.dark{
    background-color: var(--dark-color);
}

.logo-container img{
    width: 45px;
    height: 45px;
}

.logo-container:hover{
    scale: var(--button-scaling);
    rotate: var(--button-rotation);
}

.title-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
   
}

.userIO {
    flex: 1 1 100%;
    cursor: pointer;

}

.userIO li{
    width: 30%;
    font-size: large;
    text-shadow: var(--button-shadow);
}

.theme-button-container{
    height: 4em;
   
    display: flex;
    justify-content: center;
    align-items: center;
}


.headerProfileImage{
    height: 40px;
    border-radius: 50%;
}


#title-container{
    flex: 1;
    display: flex;
    max-width: 400px;

}


@media screen and (max-width: 500px) {
    .header{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    font-size: smaller;
    

}

.header.light{
    background-color: var(--light-scheme-bg-color);
    color: var(--light-scheme-font-color);
}

.header.dark{
    background-color: var(--dark-scheme-bg-color);
    color: var(--dark-scheme-font-color);
}

.logo-container{
    position: fixed;
    top: 15px;
    left: 5px;
    height: 45px;
    width: 45px;


}

.logo-container.light{
    background-color: var(--light-color);

}
.logo-container.dark{
    background-color: var(--dark-color);
}

.logo-container img{
    width: 20px;
    height: 20px;
}




.theme-button-container{
    position: fixed;
    right: 5px;
    top: 12px;
    height: 2.5em;
   
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 98;
}


}