.header{

    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(46, 94, 78);
}

.header.light{
    background-color: var(--light-scheme-bg-color);
    color: var(--light-scheme-font-color);
}

.header.dark{
    background-color: var(--dark-scheme-bg-color);
    color: var(--dark-scheme-font-color);
}

.main-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.logo-container{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--button-shadow);
    border: var(--button-border);
    border-radius: 50%;
    transition: var(--transition-global);

}

.logo-container.light{
    background-color: var(--light-color);

}
.logo-container.dark{
    background-color: var(--dark-color);
}

.logo-container img{
    width: 45px;
    height: 45px;
}

.logo-container:hover{
    scale: var(--button-scaling);
    rotate: var(--button-rotation);
}

.title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 70%;
    cursor: pointer;

}
.title-container img{
    width: 100%;
    max-width: 500px;
    padding-top: 10px;
}


.userIO {
    flex: 1 1 100%;
}

.userIO ul{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.userIO li{
    width: fit-content;
    font-size: large;
    text-shadow: var(--button-shadow);
    padding: 10px;
}

.theme-button-container{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--button-shadow);
    border: var(--button-border);
    border-radius: 50%;
    transition: var(--transition-global);
}





